*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #051f20,#031212);
}
.container{
    margin: 0 15px;   
}

.form_box{
    width: 100%;
    max-width: 300px;
    padding: 30px;
    background: #d5f365;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    font-size: 44px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #C3D900;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: cornsilk;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
button:hover{
    background: #e5ff00;
}


